<h1> Welcome to the BEST CookBook</h1>

	<% @recipes.each do |recipe| %>

	<h2><%= link_to recipe.name, recipe %></h2>
	<h3>by <%= recipe.ingredients %></h3>
	<%= recipe.instructions %>
	<% end %>

  <h3>Add a new recipe here:</h3>
  <input type="text" id="newName" placeholder="New Recipe Name" require>
  <input type="text" id="newIngredients" placeholder="Recipe Ingredients" require>
  <input type="text" id="newInstructions" placeholder="Recipe Instructions" require>
  
  <button id = "addNewPet">ADD IT!</button>